.cEwuGZ .CollectionManager--container:not(.CollectionManager--container-with-topbar) {
    max-width: 1280px;
}
.cEwuGZ .sc-lfnuca-0 {
    padding: 24px;
}
.kWhmfC {
    margin: 0px auto;
    max-width: 1280px;
}
.ictplK {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0px;
    color: rgb(4, 17, 29);
}
.kXvtcH {
    margin-bottom: 16px;
}
.hhsgWl {
    position: absolute;
    inset: 4px;
    z-index: 80;
    opacity: 0;
    height: 0px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
}
.kQqVzr .sc-u4tlig-2 {
    color: rgb(204, 204, 204);
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.fTfEgB {
    text-rendering: optimizelegibility;
    font-feature-settings: "liga" !important;
    font-size: 84px !important;
}

.kQqVzr {
    position: relative;
    padding: 4px;
    cursor: pointer;
    border: 3px dashed rgb(204, 204, 204);
    border-radius: 10px;
}

.euUQqP {
    -webkit-box-align: center;
    align-items: center;
}
.lbhdXq {
    height: 257px;
    width: 350px;
}
.sZAwe {
    font-weight: 500;
    font-size: 12px;
    color: rgb(112, 122, 131);
}

.giarcl {
    color: rgb(53, 56, 64);
}

.jnCfKq {
    font-weight: 600;
    font-size: 16px;
    color: rgb(4, 17, 29);
}
.ghXVmk {
    margin-bottom: 4px;
}

.giarcl::after {
    content: " *";
    color: rgb(235, 87, 87);
}
.gfbErs {
    margin-bottom: 8px;
}

.jvONNN {
    flex-direction: column;
}

.UPKyL {
    margin-bottom: 24px;
}
.eLeqps {
    margin-bottom: 32px;
    max-width: 772px;
    width: 100%;
}
.eLeqps .AssetForm--required-label {
    color: rgb(235, 87, 87);
}
.jwwcLH .Input--main .Input--input {
    background-color: transparent;
    border: none;
    flex: 1 0 0%;
    height: 48px;
    outline: none;
    padding: 0px 12px 0px 0px;
    min-width: 0px;
}
.jwwcLH .Input--main .Input--prefix {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    color: rgb(112, 122, 131);
    display: flex;
    padding-left: 12px;
}
.jwwcLH .Input--main {
    border-radius: 10px;
    border: 2px solid rgb(229, 232, 235);
    display: flex;
    position: relative;
}
.EDtcj {
    color: rgb(53, 56, 64);
}
@media (min-width: 600px){

    .boxrpc {
        font-size: inherit;
        line-height: inherit;
        min-height: inherit;
    }
}
.boxrpc {
    width: 100%;
    height: auto;
    padding: 12px;
    resize: vertical;
    border: 2px solid rgb(229, 232, 235);
    background-color: transparent;
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    min-height: 26px;
}

.elyzfO {
    color: rgb(32, 129, 226);
    text-decoration: none;
}
.eLeqps .AssetForm--info-cta {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: rgb(112, 122, 131);
    margin-left: 4px;
}
.infdiL {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 100%;
    font-family: inherit;
    border: 0px;
    background: inherit;
}
.fTKTZr {
    text-rendering: optimizelegibility;
    font-feature-settings: "liga" !important;
    font-size: 20px !important;
}

@media (min-width: 600px){

    .bBQLVJ {
        font-size: inherit;
        line-height: inherit;
        min-height: inherit;
    }
}
.bBQLVJ {
    color: rgb(4, 17, 29);
    font-size: 16px;
    line-height: 26px;
    min-height: 26px;
}
.ejWxVe {
    cursor: text;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(229, 232, 235);
    color: rgb(4, 17, 29);
    width: 100%;
    padding: 12px;
    height: 48px;
    font-size: 16px;
}

@media (min-width: 600px){

    .ejWxVe input {
        font-size: inherit;
        line-height: inherit;
        min-height: inherit;
    }
}
.ejWxVe input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    min-height: 26px;
}
.eordpC {
    margin-bottom: 24px;
}
.cOLPmp {
    margin-top: 16px;
    border-bottom: 1px solid rgb(229, 232, 235);
    padding-bottom: 16px;
}
.cOLPmp .AssetFormTraitSection--item {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.fTvbZt {
    text-rendering: optimizelegibility;
    font-feature-settings: "liga" !important;
    font-size: 22px !important;
}
.bMAZiO {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-height: 22px;
    pointer-events: none;
}
.hZdMrQ {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 17px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(229, 232, 235);
    color: rgb(32, 129, 226);
}

.hiIVBZ {
    flex-direction: row;
}

.cOLPmp .AssetFormTraitSection--item .AssetFormTraitSection--content .AssetFormTraitSection--content-main .AssetFormTraitSection-input-label, .cOLPmp .AssetFormTraitSection--item .AssetFormTraitSection--content .AssetFormTraitSection--content-main .AssetFormTraitSection--input-header {
    margin: 0px;
}
.cOLPmp .AssetFormTraitSection--item .AssetFormTraitSection--content .AssetFormTraitSection--content-main .AssetFormTraitSection-input-label, .cOLPmp .AssetFormTraitSection--item .AssetFormTraitSection--content .AssetFormTraitSection--content-main .AssetFormTraitSection--input-header {
    margin: 0px;
}
.cOLPmp .AssetFormTraitSection--item .AssetFormTraitSection--content .AssetFormTraitSection--content-main .AssetFormTraitSection-input-label {
    font-weight: 600;
    font-size: 16px;
    display: block;
}
.cOLPmp .AssetFormTraitSection--item .AssetFormTraitSection--content .AssetFormTraitSection--content-main {
    margin-left: 16px;
}

.fTdhIH {
    text-rendering: optimizelegibility;
    font-feature-settings: "liga" !important;
    font-size: 24px !important;
}

.cOLPmp .AssetFormTraitSection--item .AssetFormTraitSection--content {
    display: flex;
}

.cOLPmp .AssetFormTraitSection--item {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.cOLPmp {
    margin-top: 16px;
    border-bottom: 1px solid rgb(229, 232, 235);
    padding-bottom: 16px;
}
.eLeqps .AssetForm--is-explicit-content, .eLeqps .AssetForm--has-unlockable-content{
    border-bottom: 1px solid rgb(229, 232, 235);
}
.eLeqps .AssetForm--has-unlockable-content, .eLeqps .AssetForm--is-explicit-content{
    padding: 16px 0px;
}
.gakOkv {
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.kUXhVV {
    appearance: none;
    outline: none;
    border-radius: 100px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 6px;
    height: 24px;
    width: 48px;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
    background-color: rgb(138, 147, 155);
}
.kUXhVV::after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: all 0.3s ease-out 0s;
}

.eLeqps .AssetForm--is-explicit-content .AssetForm--input-header, .eLeqps .AssetForm--has-unlockable-content .AssetForm--input-header {
    margin-bottom: 0px;
}

.eLeqps .AssetForm--input-header, .eLeqps .AssetForm--unlockable-content-caption {
    margin-bottom: 5px;
}

.eLeqps .AssetForm--is-explicit-content .AssetForm-input-label, .eLeqps .AssetForm--has-unlockable-content .AssetForm-input-label {
    margin-top: 0px;
    margin-bottom: 0px;
}

.eLeqps .AssetForm-input-label {
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin-top: 8px;
    margin-bottom: 5px;
    text-transform: none;
}
.eqZsFH {
    margin-left: 16px;
}
.eDsRvo {
    text-rendering: optimizelegibility;
    color: rgb(152, 125, 240);
    font-feature-settings: "liga" !important;
    font-size: 24px !important;
}

.eLeqps .AssetForm--is-explicit-content, .eLeqps .AssetForm--has-unlockable-content {
    border-bottom: 1px solid rgb(229, 232, 235);
}

.eLeqps .AssetForm--has-unlockable-content, .eLeqps .AssetForm--is-explicit-content {
    padding: 16px 0px;
}

.btdSOo {
    color: rgb(112, 122, 131);
    margin-left: 4px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.ilFyiM {
    text-rendering: optimizelegibility;
    cursor: pointer;
    font-feature-settings: "liga" !important;
    font-size: 20px !important;
}

.eLeqps .AssetForm--submit {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.eLeqps .AssetForm--action {
    display: inline-block;
    margin-top: 24px;
}
.eLeqps .AssetForm--submit .AssetForm--submit-spacer {
    flex: 1 1 0%;
}

.eqgvEc:disabled {
    opacity: 0.4;
}

.eqgvEc {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 17px 24px;
    background-color: rgb(32, 129, 226);
    border: 2px solid rgb(32, 129, 226);
    color: rgb(255, 255, 255);
}

.lnJxVz {
    background-color: rgb(251, 253, 255);
    padding: 16px;
}

.eGJCNc {
    border-radius: 10px;
    border: 1px solid rgb(229, 232, 235);
    overflow: hidden;
}
.cpiPas {
    margin-top: 8px;
}

.eXnWvj {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.eXnWvj .Image--image {
    height: 100%;
    object-fit: contain;
    transition: opacity 400ms ease 0s;
    width: 100%;
}

.cXJFPW {
    height: 50px;
    position: relative;
}
.jGlSeY {
    padding: 4px;
    cursor: pointer;
    position: absolute;
    inset: 0px;
    border: none;
    border-radius: 10px;
}
.gysUQr {
    font-weight: 600;
    font-size: 14px;
    color: rgb(112, 122, 131);
}
.iwduDE {
    position: absolute;
    inset: 0px;
    z-index: 80;
    opacity: 0;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.15);
}

.gzSIjj {
    border: 3px dashed rgb(204, 204, 204);
    border-radius: 10px;
}
.cssZvF {
    height: fit-content;
    width: 350px;
}

audio {
    width: 300px;
    height: 54px;
}
.Cpoux .ejWxVe{
    margin-bottom: 10px;
}
.Cpoux > :last-child{
    margin-bottom: 0px;
}