@media screen and (min-width: 600px) {
    .elLxUM {
        display: flex;
    }
    .lbfpY {
        height: 45px;
    }

    .ejWxVe input {
        font-size: inherit;
        line-height: inherit;
        min-height: inherit;
    }
}
@media screen and (min-width: 1024px) {
    .elLxUM {
        padding-right: 24px;
    }
    .kCqGcl .Navbar--main .Navbar--brand {
        margin-left: 8px;
    }
    .kCqGcl .Navbar--main .Navbar--brand .Navbar--brand-name {
        display: initial;
    }
    .kXOrPv {
        padding-left: 10px;
    }
}
@media screen and (min-width: 1200px) {
    .gNdalk .NavItem--main.NavItem--withIcon {
        color: rgb(112, 122, 131);
    }
}

@media not all and (max-width: 599.98px){
    .fresnel-lessThan-sm {
        display: none!important;
    }
}

.kCqGcl {
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    max-width: 100vw;
    height: 72px;
    top: 0px;
    position: sticky;
    z-index: 120;
    transition: top 0.5s ease 0s;
    background-color: rgb(255, 255, 255);
}

.kCqGcl .Navbar--main {
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.cmxeRX {
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    padding-left: 16px;
}

.elLxUM {
    padding-right: 16px;
    display: flex;
}

.bSaLsG {
    width: 100%;
}

.mPydF {
    display: flex;
    margin: 0px;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

.cmxeRX .Navbar--brand {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    height: 100%;
    padding: 8px 0px;
    position: relative;
}

.elyzfO {
    color: rgb(32, 129, 226);
    text-decoration: none;
}

.dfbMdI {
    height: 40px;
    width: 40px;
    position: relative;
}

.cmxeRX .Navbar--brand .Navbar--brand-name {
    margin-left: 10px;
    margin-top: 4px;
    color: black;
    font-weight: 900;
}

.fresnel-container {
    margin: 0;
    padding: 0;
}

.kKpYwv {
    display: flex;
}

.hzdGQw {
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.kclzCo {
    width: 100%;
}

.iVtKaT {
    -webkit-box-pack: center;
    justify-content: center;
}

.kuGBEl {
    flex-direction: column;
}

.lbfpY {
    height: 72px;
    -webkit-box-pack: center;
    justify-content: center;
}

.cJExFD {
    margin-right: 8px;
    max-width: 24px;
}

.bmxyw {
    max-width: 768px;
    line-height: 26px;
    padding: 8px;
}

.ejWxVe {
    cursor: text;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(229, 232, 235);
    color: rgb(4, 17, 29);
    width: 100%;
    padding: 12px;
    height: 48px;
    font-size: 16px;
}

.ejWxVe input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    min-height: 26px;
}

.gNdalk {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 72px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    flex-shrink: 0;
}

.gNdalk .NavItem--main {
    -webkit-box-align: center;
    align-items: center;
    color: rgba(4, 17, 29, 0.75);
    display: flex;
    height: 100%;
    padding: 0px 10px;
    position: relative;
    width: 100%;
}

.gNdalk .NavItem--main.NavItem--withAfter::after {
    transition: background-color 0.4s ease 0s;
    background-color: transparent;
    bottom: 0%;
    content: "";
    display: block;
    height: 4px;
    left: 0px;
    position: absolute;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bxjjSn {
    
    max-width: 154px;
}

.kXOrPv {
    min-width: 72px;
}
.estroi {
    margin-right: 10px;
}
.infdiL {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 100%;
    font-family: inherit;
    border: 0px;
    background: inherit;
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.fTuPyU {
    text-rendering: optimizelegibility;
    font-feature-settings: "liga" !important;
    font-size: 32px !important;
}


.jJDshU.tippy-box {
    position: relative;
    background-color: rgb(4, 17, 29);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    outline: 0px;
    transition-property: transform, visibility, opacity;
    overflow-wrap: break-word;
}

.gGYZXW.Dropdown {
    max-height: calc(100vh - 72px);
    overflow-y: auto;
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(4, 17, 29);
    max-width: initial;
    min-width: 220px;
}

.mPydF .Navbar--dropdown {
    top: -10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.mPydF .adjusted-tippy {
    top: 9px;
}

.gGYZXW.Dropdown .tippy-content {
    padding: 0px;
    text-align: initial;
}

.jJDshU .tippy-content {
    position: relative;
    padding: 12px 20px;
    z-index: 1;
    text-align: center;
}

.ldysOp {
    background-color: rgb(255, 255, 255);
}
.jgJAwq {
    border: none;
}
.hhOWiO {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 232, 235);
    border-radius: 10px;
    margin: 0px;
}

.hhOWiO > :not(:last-child) {
    border-bottom: 1px solid rgb(229, 232, 235);
}
.hhOWiO > :first-child, .hhOWiO > :first-child > button:first-of-type, .hhOWiO > :first-child > a:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.lcXNuJ {
    width: 100%;
}
ul li {
    list-style-type: none;
}

.eXnWvj {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.eXnWvj .Image--image {
    height: 100%;
    object-fit: contain;
    transition: opacity 400ms ease 0s;
    width: 100%;
}

.cjftsJ {
    align-self: stretch;
    flex: 1 1 auto;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 16px;
    order: 3;
    overflow: hidden;
    font-size: 16px;
    align-items: flex-start;
}


.jnCfKq {
    font-weight: 600;
    font-size: 16px;
    color: rgb(4, 17, 29);
}

.jQJluE {
    font-size: 16px;
}

.hhOWiO .sc-1idymv7-0 {
    border: none;
    overflow: hidden;
}
.fNIWSU {
    width: 100%;
    font-weight: 600;
    border: 1px solid rgb(229, 232, 235);
    color: rgb(53, 56, 64);
    text-align: left;
}

.lkFRBi {
    padding: 16px;
    border-radius: 0px;
}

.jJDshU .tippy-content a:hover {
    color: rgb(66, 160, 255);
}
.fNIWSU:hover {
    transition: all 0.2s ease 0s;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    background-color: rgb(251, 253, 255);
}
.fNIWSU:hover {
    color: rgb(53, 56, 64) !important;
}
.elyzfO:hover {
    color: rgb(24, 104, 183);
}